{
     "credentials": [
          {
               "name": "AWS creds",
               "description": "",
               "organization": null,
               "inputs": {
                    "password": "{{ aws.secret }}",
                    "username": "{{ aws.keyid }}"
               },
               "credential_type": {
                    "name": "Amazon Web Services",
                    "kind": "cloud",
                    "type": "credential_type"
               },
               "user": {
                    "username": "admin",
                    "type": "user"
               },
               "natural_key": {
                    "organization": null,
                    "name": "AWS creds",
                    "credential_type": {
                         "name": "Amazon Web Services",
                         "kind": "cloud",
                         "type": "credential_type"
                    },
                    "type": "credential"
               }
          }
     ]
}
