{
     "inventory": [
          {
               "name": "AWS workshop hosts",
               "description": "",
               "kind": "",
               "host_filter": null,
               "variables": "---",
               "insights_credential": null,
               "organization": {
                    "name": "Default",
                    "type": "organization"
               },
               "related": {
                    "hosts": [],
                    "groups": []
               },
               "natural_key": {
                    "organization": {
                         "name": "Default",
                         "type": "organization"
                    },
                    "name": "AWS workshop hosts",
                    "type": "inventory"
               }
          }
     ]
}
