{
     "credentials": [
          {
               "name": "Insights Creds",
               "description": "",
               "inputs": {
                    "password": "{{ redhat.cdnpass }}",
                    "username": "{{ redhat.cdnuser }}"
               },
               "organization": {
                    "name": "Default",
                    "type": "organization"
               },
               "credential_type": {
                    "name": "Insights",
                    "kind": "insights",
                    "type": "credential_type"
               },
               "natural_key": {
                    "organization": {
                         "name": "Default",
                         "type": "organization"
                    },
                    "name": "Insights Creds",
                    "credential_type": {
                         "name": "Insights",
                         "kind": "insights",
                         "type": "credential_type"
                    },
                    "type": "credential"
               }
          },
          {
               "name": "Openstack Infra",
               "description": "",
               "inputs": {
                    "host": "http://10.55.102.159:5000/v3",
                    "domain": "Default",
                    "project": "Redhat_Lab",
                    "password": "{{ workshop.default_password }}",
                    "username": "admin",
                    "verify_ssl": false
               },
               "organization": {
                    "name": "Default",
                    "type": "organization"
               },
               "credential_type": {
                    "name": "OpenStack",
                    "kind": "cloud",
                    "type": "credential_type"
               },
               "natural_key": {
                    "organization": {
                         "name": "Default",
                         "type": "organization"
                    },
                    "name": "Openstack Infra",
                    "credential_type": {
                         "name": "OpenStack",
                         "kind": "cloud",
                         "type": "credential_type"
                    },
                    "type": "credential"
               }
          },
          {
               "name": "Openstack User Creds",
               "description": "",
               "inputs": {
                    "username": "cloud-user",
                    "ssh_key_data": "12345",
                    "become_method": "sudo"
               },
               "organization": {
                    "name": "Default",
                    "type": "organization"
               },
               "credential_type": {
                    "name": "Machine",
                    "kind": "ssh",
                    "type": "credential_type"
               },
               "natural_key": {
                    "organization": {
                         "name": "Default",
                         "type": "organization"
                    },
                    "name": "Openstack User Creds",
                    "credential_type": {
                         "name": "Machine",
                         "kind": "ssh",
                         "type": "credential_type"
                    },
                    "type": "credential"
               }
          },
          {
               "name": "Satellite Secret",
               "description": "",
               "inputs": {
                    "host": "https://10.55.103.208",
                    "password": "{{ workshop.default_password }}",
                    "username": "admin"
               },
               "organization": {
                    "name": "Default",
                    "type": "organization"
               },
               "credential_type": {
                    "name": "Red Hat Satellite 6",
                    "kind": "cloud",
                    "type": "credential_type"
               },
               "natural_key": {
                    "organization": {
                         "name": "Default",
                         "type": "organization"
                    },
                    "name": "Satellite Secret",
                    "credential_type": {
                         "name": "Red Hat Satellite 6",
                         "kind": "cloud",
                         "type": "credential_type"
                    },
                    "type": "credential"
               }
          },
          {
               "name": "AWS Creds",
               "description": "",
               "inputs": {
                    "password": "{{ aws.secret }}",
                    "username": "{{ aws.keyid }}"
               },
               "organization": {
                    "name": "Default",
                    "type": "organization"
               },
               "credential_type": {
                    "name": "Amazon Web Services",
                    "kind": "cloud",
                    "type": "credential_type"
               },
               "natural_key": {
                    "organization": {
                         "name": "Default",
                         "type": "organization"
                    },
                    "name": "AWS",
                    "credential_type": {
                         "name": "Amazon Web Services",
                         "kind": "cloud",
                         "type": "credential_type"
                    },
                    "type": "credential"
               }
          },
          {
               "name": "Infra User Creds",
               "description": "",
               "inputs": {
                    "password": "{{ workshop.default_password }}",
                    "username": "{{ aws.user }}",
                    "become_method": "sudo",
                    "ssh_key_data": ""
               },
               "organization": {
                    "name": "Default",
                    "type": "organization"
               },
               "credential_type": {
                    "name": "Machine",
                    "kind": "ssh",
                    "type": "credential_type"
               },
               "natural_key": {
                    "organization": {
                         "name": "Default",
                         "type": "organization"
                    },
                    "name": "Infra User Creds",
                    "credential_type": {
                         "name": "Machine",
                         "kind": "ssh",
                         "type": "credential_type"
                    },
                    "type": "credential"
               }
          },
          {
               "name": "Unlock Vault",
               "description": "",
               "inputs": {
                    "vault_password": "{{ tower_password }}"
               },
               "organization": {
                    "name": "Default",
                    "type": "organization"
               },
               "credential_type": {
                    "name": "Vault",
                    "kind": "vault",
                    "type": "credential_type"
               },
               "natural_key": {
                    "organization": {
                         "name": "Default",
                         "type": "organization"
                    },
                    "name": "Unlock Vault",
                    "credential_type": {
                         "name": "Vault",
                         "kind": "vault",
                         "type": "credential_type"
                    },
                    "type": "credential"
               }
          }
     ]
}
