[Unit]
Description=Control a deployed ansible workshop
After=network.target

[Service]
#Type=oneshot
Type=simple
User={{ aws.user }}
Group={{ aws.user }}
ExecStart=/bin/bash -c "/home/fedora/workshops/provisioner/provision.sh"
RemainAfterExit=yes
ExecStop=/bin/bash -c "/home/fedora/workshops/provisioner/teardown.sh"
StandardOutput=journal

[Install]
WantedBy=multi-user.target

