ec2_name_prefix: {{ workshop.name }}
# creates student_total of workbenches for the workshop
student_total: {{ workshop.how_many_students }}
# Set the right workshop type, like networking, rhel or f5 (see above)
workshop_type: {{ workshop.type }}
# Required for podman authentication to registry.redhat.io
redhat_username: "{{ redhat.svcuser }}"
redhat_password: "{{ redhat.svcpass }}"
{% if ansible_distribution_major_version == '8' %}
# for rhel 8
ansible_python_interpreter: /usr/libexec/platform-python
{% endif %}
# set this to your dns
workshop_dns_zone: {{ workshop.dns_zone }}
# for the redhat cdn api access, go to https://access.redhat.com/management/api
offline_token: "{{ redhat.offline_token }}"
# Where to provision (Don't change: only testing ec2)
instance_loc: ec2
# region where the nodes will live
ec2_region: us-east-1
# name prefix for all the VMs
# OPTIONAL VARIABLES
# creates 2 windows instances per student instead of default 1
doubleup: false
# password for Ansible control node, defaults to ansible
admin_password: "{{ workshop.default_password }}"
# adds a form that prompts for name and email to allocate student credentials
attendance: true
# automatically installs Tower to control node
controllerinstall: true
create_cluster: false
code_server: true
#demo: all
