The workstation inventory is in ./workstation-inventory. Your sshkey is keys/key.ppk.

# connect to your workstation
ssh -i keys/key.ppk ec2-user@3.234.223.36

# deploying a workstation via cli
cd to /home/ec2-user/workshops/provisioner 
ansible-playbook -e @workshop-dataylor-workshop.yml provision_lab.yml

# tower details
Visit https://{{ inventory_hostname }}/ using user/pass admin/{{ workshop.default_password }}. There are two Job Templates, Deploy Workshop and Destroy Workshop pre-configured.

# {{ workshop.name }} that was deployed from tower details
{{ summary }}
