
#cloud-config
# for reference:
# http://cloudinit.readthedocs.org/en/latest/topics/examples.html
# https://access.redhat.com/articles/rhel-atomic-cloud-init-faq
preserve_hostname: false
{% if aws.root_password != 'None' %}
ssh_pwauth: true
chpasswd:
  list: |
    root:{{ aws.root_password }}
{% endif %}
write_files:
# set ansible facts about the machine
  - path: /etc/ansible/facts.d/awsroles.fact
    permissions: '0444'
    content: |
      {% for awsrole in awsroles %}
      [{{ awsrole.section }}]
      {% for var in awsrole.vars %}
      {{ var.name }}={{ var.value }}
      {% endfor %}{% endfor %}

  - path: /tmp/firstboot.sh
    permissions: '0755'
    owner: root:root
    content: |
      {{ lookup('template','firstboot.sh.j2')|indent(6) }}
runcmd:
# this runs whatever the script at firstboot
 - /tmp/firstboot.sh
